#root {
  overflow: hidden;
  height: 100vh;
}

[class^="icon"] {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    vertical-align: middle;
  }
}

.icon-logo {
  max-width: 80px;
}

*::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 4px;
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar {
  border-radius: 4px;
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background: snow;
}
